{% extends "blog/base.html" %}
{% block content %}
<h1>All Posts</h1>

{% if user.is_authenticated %}
  <p><a href="{% url 'post-create' %}">+ New Post</a></p>
{% endif %}

<ul>
  {% for post in posts %}
    <li>
      <h3><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h3>
      <small>by {{ post.author.username }} • {{ post.published_date|date:"Y-m-d H:i" }}</small>
      <p>{{ post.content|truncatewords:30 }}</p>

      {# Tags #}
      {% if post.tags.all %}
        <p>
          Tags:
          {% for t in post.tags.all %}
            <a href="{% url 'posts-by-tag' t.slug %}">#{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}

      {% if user == post.author %}
        <p>
          <a href="{% url 'post-update' post.pk %}">Edit</a> |
          <a href="{% url 'post-delete' post.pk %}">Delete</a>
        </p>
      {% endif %}
    </li>
  {% empty %}
    <li>No posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}



